* {
    font-family: 'Open Sans', Verdana, Tahoma, sans-serif;
}

body {
    background: url('../images/alaska.jpg') no-repeat;
    background-color: rgb(143, 47, 47);
    position: relative;
}

h3 {
    text-align: center;
    background-color: rgba(170, 174, 179, 0.705);
    border-radius: 2px;
    color: rgb(53, 51, 51);
    font-size: 0.9em;
    margin-bottom: 0px;
}

h4 {
    text-align: center;
    font-size: 2.0em;
    margin-top: -30px;
}


a {
    text-decoration: none;
    color: rgb(194, 118, 55);
}

.signature {
    color: white;
    text-align: right;
}

/*------------------------HEADER------------------------*/

#header_content h1 {
    text-align: center;
    font-size: 2.8em;
    font-family: 'Open Sans', Verdana, Tahoma, sans-serif;
    color: white;
    text-transform: uppercase;
}


#header_content h1::before
{
	position: relative;
	display: block;
	content: "";
	height: 2px;
	width: 360px;
	background-color: rgba(234, 237, 241, 0.863);
	left: calc(50% - 190px);
}
#header_content h1::after
{
	position: relative;
	display: block;
	content: "";
	height: 2px;
	width: 360px;
	background-color: rgba(234, 237, 241, 0.863);
    left: calc(50% - 190px);
    top: 10px;

}

#header_content h2 {
    margin-left: calc(50% + 120px);
    font-family: 'Open Sans', Verdana, Tahoma, sans-serif;
    color: white;
}

/*----------MENU--------*/

nav {
    display: flex;
    justify-content: flex-end;
}

nav ul {
    list-style-type: none;
    /*list style type none pour enlever les point de la liste */
}

nav li {
    margin-right: 10px;
    display: inline-block;
    font-size: 0.9em;
}

nav a {
    padding: 0 10px 2px 10px;
    font-size: 1.2em;
    text-decoration: none;
    color: rgb(247, 242, 242)
}

nav a.active:hover {
    padding-top: 10px;  
    border-top: 2px solid white;
}

/*-------------------------------SECTION--------------------------------*/

/*----------SECTION ONE-----------*/
#section_one {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;   
}

#presentation {
    width: 60%;
    margin: 60px 0 0 30px;
    color: rgb(255, 254, 254);
}

#jean_img {
    border-radius: 10px;
    margin-right: 15px;
}

/*------------SECTION TWO-----------*/

#section_two {
    margin-top: 75px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-content: space-between;   
}

#resum {
    width: 60%;
    margin: 110px 30px 0 0;
    color: rgb(255, 254, 254);
}

#bear_img {
    border-radius: 10px;
    margin: 30px 0 30px 15px;
}


/*-------------------------------CHAPITRES------------------------------*/

.news {
    width: 70%;
    margin: auto;
}

.news p {
    background-color: rgb(255, 250, 250);
    margin-top: 0px;
}

/*-------------------------------COMMENTAIRES-------------------------------*/
#comment {
    text-align: center;
    color: white;
    font-family: 'Open Sans', Verdana, Tahoma, sans-serif;
}

#author, textarea {
    width: 50%;
    resize: none;
}

textarea {
    height: 30%;
}

#button_form {
    margin-top: 10px;
}